.profile {
    padding: 15px;
}

.profile__row {
    display: flex;
    margin: 0 -7px;
    .left > div {
        border-radius: 4px;
        box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    }
    .right > div {
        border-radius: 4px;
        box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    }
}
.left {
    flex: 0 0 30%;
    padding: 0 7px;
}

.right {
    flex: 0 0 70%;
    padding: 0 7px;
}

.avatar {
    background-color: #ffffff;
    padding: 15px;
    display: grid;
    grid-gap: 15px;
    margin-bottom: 14px;
    .avatar__image {
        background-color: #b2b2c9;
        width: 240px;
        height: 240px;
        img {
            max-width: 100%;
        }
    }
    .edit {
        background-color: #edeef0;
        box-shadow: 2px 2px 2px 2px #b2b2c9;
        width: 100%;
        height: 40px;
        border-radius: 4px;
        text-align: center;
        align-content: center;
        display: grid;
        span {
            color: #55677d;
        }
    }
}

.description {
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #fff;
    h1 {
        font-size: 2.3em;
        font-weight: bold;
        margin-bottom: 10px;
    } 
    p {
        font-size: 1.5em;
        margin-bottom: 10px;
        
    }
    li {
        color: #8d8d8d;;
    }
    span {
        display: inline-block;
        margin-bottom: 10px;
        color: #8d8d8d;
    }
}
