.posts {
    background-color: #fff;
    padding: 15px;
    textarea {
        resize: none;
        padding: 15px;
        font-style: italic;
        width: 100%;
        background-color: #edeef0;
        color: #55677d;
        font-size: 1em;
        margin: 15px 0;
    }
    .btn {
        text-align: right;
        a {
            display: inline-block;
            padding: 10px 15px;
            background-color: #EDEEF0;
            box-shadow: 2px 2px 2px 2px #b2b2c9;
            border-radius: 4px;
            color: #55677d;
        }
    }
    .title {
        font-size: 1.2em;
        grid-column: 1 / 4;
        color: #55677d;
    }
}

.post {
    box-shadow: 0 0 2px 2px #ccc;
    padding: 8px;
    color: #55677d;
    margin: 15px 0 0 0;
    display: flex;
    align-items: center;
    max-width: 612.713px;
}

.image {
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #b2b2c9;
}

.text {
    word-wrap: break-word;
    font-style: italic;
    padding: 0 20px;
    flex: 1 0 auto;
    max-width: 460px;

}

.like {
    text-align: right;
    flex: 0 0 70px;
    color: #55677d;
    font-style: italic;

    a {
        color: #55677d;
    }

    span {
        cursor: pointer;
        color: #55677d;
        font-size: 80%;
        margin: 0 10px;
    }
}