.navbar {
    padding: 15px;
}

.item {
    padding-bottom: 15px;
    ::before {
        display: inline-block;
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 15px;
        background: #4a76a8;
    }
    &:last-child {
        padding: 0;
    }
    &:nth-child(9)::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: #a9b6c7;
        position: relative;
        top: 7.5px;
        margin: 7.5px 0;
    }
    a {
        color: #55677d;
    }
}
.item a.activeLink{
    color: #929ba7;
}
