.footer {
    background-color: #4a76a8;
    padding: 15px;
    display: grid;
    align-content: center;
    span {
        text-align: center;
        text-shadow: 0 0 10px#000;
        color: #bbc2df;
        font-size: 1em;
    }
}
