.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 899;
    background: rgba(0, 0, 0, 0.4);
}
.wrapper {
    z-index: 900;
    position: fixed;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
    width: 520px;
    height: 320px;
    border-radius: 15px;
    background: #4a76a8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px 5px #b1b1b1;
    transition: all 0.5s ease;
    .close-auth {
        color: #fff;
        display: inline-flex;
        position: absolute;
        top: 4px;
        right: 11px;
        font-size: 30px;
        background: none;
    }
    form {
        width: 450px;
        margin: 0 auto;
    }

    p {
        color: #bbc2df;
        text-shadow: 0 0 4px 4px #000;
        cursor: pointer;
        display: inline-block;
        font-size: 22px;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    input[type="email"],
    input[type="password"] {
        width: 100%;
        background: #fff;
        border: none;
        border-radius: 8px;
        font-size: 18px;
        height: 50px;
        margin-bottom: 10px;
        opacity: 1;
        text-indent: 20px;
    }
    .buttons {
        display: flex;
        margin-top: 10px;
        height: 50px;
        font-size: 16px;
        justify-content: space-around;
        .login {
            color: #55677d;
            border-radius: 8px;
            width: 35%;
            font-size: inherit;
        }
        .clear {
            color: #55677d;
            border-radius: 8px;
            font-size: inherit;
            width: 35%;
        }
    }

    .save {
        display: inline-block;
        margin-left: 10px;
        color: #bbc2df;
        text-shadow: 0 0 4px 4px #000;
    }
    input[type="checkbox"] {
        position: relative;
        top: 1px;
    }
}
