body {
    font-family: 'Ubuntu', sans-serif;
}

.wrapper {
    background-color: #EDEEF0;
    overflow: hidden;
    display: grid;
    grid-template-rows: 60px 1fr;
    min-height: 100vh;
}

.main__row {
    display: flex;
    // display: grid;
    // grid-template-columns: 2fr 10fr;
    // grid-gap: 15px;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.sidebar {
    flex: 0 1 20%
}

.body {
    flex: 0 1 80%;
}