

body {
    font-family: 'Ubuntu', sans-serif;
}

.wrapper {
    background-color: #EDEEF0;
    overflow: hidden;
    display: grid;
    grid-template-rows: 60px 1fr;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    min-height: 100vh;
}

.main {
    // flex: 1 1 auto;
}

.main__row {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-gap: 15px;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}